<h1>Editing article</h1>
<div id="status" class="pull-right">
  <%= render 'status' %>
</div>

<%= form_for @article, html: { multipart: true }, role: "form" do |f| %>
  <%= render 'form', f: f %>
<% end %>

