= form_for "/search",url: search_path,  method: :get, html: { class: "navbar-form navbar-left", role: "search" } do |f|
  .form-group
    = text_field_tag :query, params[:query], class: "form-control", placeholder: "Search"
  = submit_tag "Go", name: nil, class: "btn btn-default"
