h1 > a {
  color: rgb(22, 25, 59);
}
.nav li > span {
  color: lightgrey;
}

pre {
  overflow: auto;
  word-wrap: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Regular-webfont.woff') format('woff'),
  url('Roboto-Regular-webfont.ttf') format('truetype'),
  url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

